<div class="container">
  <h2 class="row">
    <button class="btn btn-info col-sm-offset-2 col-sm-8" type="button" data-toggle="collapse" data-target="#sectionList" aria-expanded="false"
      aria-controls="sectionList" style="border: 1px solid #888">
      <h4>{{ courses.title }}</h4>
    </button>
  </h2>
  <div class="collapse" id="sectionList">
    <div class="panel panel-primary col-md-6 col-md-offset-3" *ngFor="let section of courses.sections">
      <div class="panel-heading" role="tab" id="headingThree">
        <p class="panel-title">
          <a role="button" data-toggle="collapse" href="#module{{section.module}}" aria-expanded="false">
            Module {{ section.module }} : {{ section.title }}
          </a>
        </p>
      </div>
      <div id="module{{section.module}}" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">
          <div class="list-group" *ngFor="let content of section.content; let i = index">
            <div class="list-group-item list-group-item-info col-sm-1">
              {{ i+1 }}
            </div>
            <div class="list-group-item list-group-item-info col-sm-9">
              {{ content.title }}
            </div>
            <div class="list-group-item list-group-item-info col-sm-2">
              {{ content.duration }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>